<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CodePushPublicKey</key>
	<string>-----BEGIN PUBLIC KEY-----
  MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAtwsx+S90arBjwZ1XDe8Q
  3q+H8OHt157A3u5EZztj2+jB4vUAEB/+tKZbiuCfCLwReUDul6TuTEygfZXJNd1j
  ThSrGAS6TTMYpiIcPvp9WueKyn3rFwI2Nn/jKzBUNSmgzMB4EUhuBb8aMaez7wl6
  y+dDK/2Dj1U3ZBvXpIJwX+MoMJyoKYWfTnQ/jDtHObKVwubsFluE6+dUOU0b3O7p
  dHlWxqpDhxco7CDOUSE37RUcmX97Bw4NlsEW3k33dgqpB0lDOv4QezV1ThNKF2y9
  260Ju6Da1bsnlQld1AHfdWNuRF006tax8su0JYVExNMN8KJwOqbXoiHYThUgQjSX
  jQIDAQAB
  -----END PUBLIC KEY-----
</string>
	<key>CFBundleDisplayName</key>
	<string>LibDemo</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoadsForMedia</key>
		<false/>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>codepush.appcenter.ms</key>
			<string></string>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string></string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CodePushDeploymentKey</key>
	<string>yuIeTFXEwHFffMph9U61HFEtLBnPBSkb8lJ1f</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
